/* 共通 */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #393939;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.title {
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
    margin: 20px 0;
}

.menu-icon {
    position: absolute;
    top: 35px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.line {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
}

.nav-menu {
    position: fixed;
    left: -250px;
    width: 250px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #333;
    padding-top: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: left 0.3s ease;
    z-index: 999;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-size: 1.7em;
    padding-bottom: 5px;
    padding-left: 15px;
}

.nav-menu a.active {
    border-bottom: 1px solid rgb(255, 0, 0);
}

.nav-menu a:hover {
    color: #9f9f9f;
}

.nav-menu.show {
    left: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    width: 100%;
}

.footer-links {
    margin-top: 10px;
    font-size: 13px;
}

.footer-links a {
    color: rgb(146, 146, 146);
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* about.html */
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.card {
    text-align: left;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(94, 94, 94);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card p {
    margin: 10px 30px 30px 30px;
    font-size: 20px;
}

.toggle-text {
    color: lightblue;
    cursor: pointer;
    text-decoration: underline;
}

.description {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    margin-bottom: 40px;
    padding-left: 70px;
    transform: translateY(-30px);
    width: calc(100% - 20px); 
}

.description.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(-24px);
    text-decoration: underline;
}

/* discord.html */

a {
    text-decoration: none;
    color: red;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.discord-link {
    display: flex;
    flex-direction: column;
    text-align: center;
}